# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.utilsBackup
pom.xml.vbackup
release.properties

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/
/cmake-build-debug/
/cmake-build-release/

# --- OS specific ---
.DS_Store
Thumbs.db

# --- AI agents ---
.claude
.github